<ul id="js-nav-menu" class="nav-menu">
	<li {{#is pagename "in" "objective,curriculum,faq"}}class="active open" {{/is}}>
		<a href="#" title="Silver Lining Program" data-filter-tags="silver lining program">
			<i class="{{iconPrefix}} fa-info-circle"></i>
			<span class="nav-link-text" data-i18n="nav.silver_lining_program">Silver Lining Program</span>
		</a>
		<ul>
			<li {{#is pagename "===" "objective"}}class="active" {{/is}}>
				<a href="objective.html" title="Objective" data-filter-tags="silver lining program objective">
					<span class="nav-link-text" data-i18n="nav.silver_lining_program_objective">Objective</span>
				</a>
			</li>
			<li {{#is pagename "===" "curriculum"}}class="active" {{/is}}>
				<a href="curriculum.html" title="Curriculum" data-filter-tags="silver lining program curriculum">
					<span class="nav-link-text" data-i18n="nav.silver_lining_program_curriculum">Curriculum</span>
				</a>
			</li>
			<li {{#is pagename "===" "faq"}}class="active" {{/is}}>
				<a href="faq.html" title="FAQ" data-filter-tags="silver lining program faq">
					<span class="nav-link-text" data-i18n="nav.silver_lining_program_faq">FAQ</span>
				</a>
			</li>
		</ul>
	</li>
	<li {{#is pagename "in" "linux,networking,databases-and-storage,3-tier-design"}}class="active open" {{/is}}>
		<a href="#" title="Course Modules" data-filter-tags="course modules">
			<i class="{{iconPrefix}} fa-books"></i>
			<span class="nav-link-text" data-i18n="nav.course_modules">Course Modules</span>
		</a>
		<ul>
			<li {{#is pagename "===" "linux"}}class="active" {{/is}}>
				<a href="linux.html" title="Linux" data-filter-tags="course modules linux">
					<span class="nav-link-text" data-i18n="nav.course_modules_linux">Linux</span>
				</a>
			</li>
			<li {{#is pagename "===" "networking"}}class="active" {{/is}}>
				<a href="networking.html" title="Networking" data-filter-tags="course modules networking">
					<span class="nav-link-text" data-i18n="nav.course_modules_networking">Networking</span>
				</a>
			</li>
			<li {{#is pagename "===" "databases-and-storage"}}class="active" {{/is}}>
				<a href="databases-and-storage.html" title="Databases and Storage" data-filter-tags="course modules databases and storage">
					<span class="nav-link-text" data-i18n="nav.course_modules_databases_and_storage">Databases and Storage</span>
				</a>
			</li>
			<li {{#is pagename "===" "3-tier-design"}}class="active" {{/is}}>
				<a href="3-tier-design.html" title="3-tier Design" data-filter-tags="course modules 3-tier design">
					<span class="nav-link-text" data-i18n="nav.course_modules_3-tier_design">3-tier Design</span>
				</a>
			</li>
		</ul>
	</li>
	<li {{#is pagename "in" "2022-candidates,2021 Graduates,instructors,mentors,organizers"}}class="active open" {{/is}}>
		<a href="#" title="People" data-filter-tags="people">
			<i class="{{iconPrefix}} fa-user"></i>
			<span class="nav-link-text" data-i18n="nav.people">People</span>
		</a>
		<ul>
			<li {{#is pagename "===" "2022-candidates"}}class="active" {{/is}}>
				<a href="2022-candidates.html" title="2022 Candidates" data-filter-tags="people 2022 candidates">
					<span class="nav-link-text" data-i18n="nav.people_2022_candidates">2022 Candidates</span>
				</a>
			</li>
			<li {{#is pagename "===" "2021 Graduates"}}class="active" {{/is}}>
				<a href="2021 Graduates.html" title="2021 Graduates" data-filter-tags="people 2021 graduates">
					<span class="nav-link-text" data-i18n="nav.people_2021_graduates">2021 Graduates</span>
				</a>
			</li>
			<li {{#is pagename "===" "instructors"}}class="active" {{/is}}>
				<a href="instructors.html" title="Instructors" data-filter-tags="people instructors">
					<span class="nav-link-text" data-i18n="nav.people_instructors">Instructors</span>
				</a>
			</li>
			<li {{#is pagename "===" "mentors"}}class="active" {{/is}}>
				<a href="mentors.html" title="Mentors" data-filter-tags="people mentors">
					<span class="nav-link-text" data-i18n="nav.people_mentors">Mentors</span>
				</a>
			</li>
			<li {{#is pagename "===" "organizers"}}class="active" {{/is}}>
				<a href="organizers.html" title="Organizers" data-filter-tags="people organizers">
					<span class="nav-link-text" data-i18n="nav.people_organizers">Organizers</span>
				</a>
			</li>
		</ul>
	</li>
</ul>
